form {
    background-color: greenyellow;
    border: 2px solid green;
    padding: 5px;
}
small {
    color: red;
}
label.label{
    font-weight: bold;
}
p#score{
    background-color: lightblue;
    border: 2px solid blue;
    padding: 5px;
    display: none
    
}
p.correct{
    text-decoration: underline;
}
input#submit{
    display: none;
}